#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Power"

config APP_POWER
	bool "Power module"
	depends on NRF_FUEL_GAUGE
	depends on NPM13XX_CHARGER

if APP_POWER

config APP_POWER_SHELL
	bool "Power module shell commands"
	help
	  Enable shell commands for the power module.

config APP_POWER_IDLE_CURRENT_NA
	int "Idle current in nanoamperes"
	default 3500
	help
	  Idle current in nanoamperes used for battery life estimation when the device is idle.

config APP_POWER_SAMPLE_INTERVAL_MS
	int "Battery sample interval"
	default 1000
	help
	  Interval in milliseconds for periodic fuel gauge sampling.

config APP_POWER_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048 if MEMFAULT_NRF_PLATFORM_BATTERY_NPM13XX
	default 1536

config APP_POWER_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 120
	help
	  Timeout in seconds for the power module watchdog.
	  The timeout given in this option covers both:
	    * Waiting for an incoming message in zbus_sub_wait_msg().
	    * Time spent processing the message, defined by
	      CONFIG_APP_POWER_MSG_PROCESSING_TIMEOUT_SECONDS.
	  Ensure that this value exceeds CONFIG_APP_POWER_MSG_PROCESSING_TIMEOUT_SECONDS.
	  A small difference between the two can mean more frequent watchdog feeds, which increases
	  power consumption.

config APP_POWER_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 3
	help
	  Maximum time allowed for processing a single message in the module's state machine.
	  The value must be smaller than CONFIG_APP_POWER_WATCHDOG_TIMEOUT_SECONDS.

module = APP_POWER
module-str = Power
source "subsys/logging/Kconfig.template.log_config"

endif # APP_POWER

endmenu # Power
