#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if MEMFAULT

# Synchronize the Memfault software version with the application version
# reported in the device shadow (device.deviceInfo.appVersion) for consistency
config MEMFAULT_NCS_FW_VERSION
        default "$(APPVERSION)"

endif # MEMFAULT
