#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Asset Tracker Template"

rsource "src/Kconfig.main"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/location/Kconfig.location"
rsource "src/modules/led/Kconfig.led"
rsource "src/modules/environmental/Kconfig.environmental"
rsource "src/modules/cloud_post/Kconfig.cloud_post"
rsource "src/modules/agnss_data/Kconfig.agnss_data"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
