/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/*
 * Delete the MCUboot/DFU partitions inherited from the thingy91 board
 * definition before installing the common no-MCUboot layout.
 */
/delete-node/ &boot_partition;
/delete-node/ &slot1_partition;
/delete-node/ &scratch_partition;

#include "nrf9160_common.dtsi"

/*
 * Carve out 2 KiB at the start of the application SRAM for the SEGGER RTT
 * control block and buffers at a fixed, known address (0x2000c568).
 * The RTT section is placed there via CONFIG_SEGGER_RTT_SECTION_CUSTOM_DTS_REGION
 * and the rtt_custom_section alias below.
 */
/delete-node/ &sram0_ns_app;

&sram0_ns {
	sram0_ns_app: sram0_ns@4d68 {
		reg = <0x4d68 0x33298>;
	};
};

/ {
	chosen {
		nordic,modem-trace-uart = &uart1;
	};

	rtt_sram: sram@2000c568 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2000c568 0x800>;
		zephyr,memory-region = "SRAM_RTT";
	};

	aliases {
		rtt-custom-section = &rtt_sram;
	};
};

&bme680 {
	status = "okay";
};
