/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/dts-v1/;
#include <arm/nordic/nrf9160_ns_sica.dtsi>
#include <common/nordic/nrf91_partition_sram.dtsi>
#include "../../nrf9160_common.dtsi"

/*
 * Carve out 2 KiB at the start of the application SRAM for the SEGGER RTT
 * control block and buffers at a fixed, known address (0x2000c568).
 */
/delete-node/ &sram0_ns_app;

&sram0_ns {
	sram0_ns_app: sram0_ns@4d68 {
		reg = <0x4d68 0x33298>;
	};
};

/ {
	model = "Shadow nRF9160 NS";
	compatible = "shadow,nrf9160-ns";

	chosen {
		zephyr,flash = &flash0;
		zephyr,sram = &sram0_ns_app;
		zephyr,code-partition = &slot0_ns_partition;
	};

	rtt_sram: sram@2000c568 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x2000c568 0x800>;
		zephyr,memory-region = "SRAM_RTT";
	};

	aliases {
		pwm-led0 = &pwm_led_0;
		pwm-led1 = &pwm_led_1;
		rtt-custom-section = &rtt_sram;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led_0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
		pwm_led_1: pwm_led_1 {
			pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;

	lis2dtw12: lis2dtw12@0 {
		compatible = "st,lis2dw12";
		reg = <0>;
		spi-max-frequency = <1000000>;
		irq-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		int-pin = <2>;
		odr = <25>;
		range = <2>;
		power-mode = <0>;
		low-noise;
		hp-filter-path;
		wakeup-duration = <1>;
		/* INT1: P0.30 (wake-up), INT2: P0.31 (DRDY) */
	};
};

&gpio0 {
	status = "okay";
};

&gpiote {
	status = "okay";
};


&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
				<NRF_PSEL(PWM_OUT1, 0, 29)>;
		};
	};
	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 28)>,
				<NRF_PSEL(PWM_OUT1, 0, 29)>;
			low-power-enable;
		};
	};
	spi2_default: spi2_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 3)>,
				<NRF_PSEL(SPIM_MOSI, 0, 0)>,
				<NRF_PSEL(SPIM_MISO, 0, 1)>;
		};
	};
	spi2_sleep: spi2_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 3)>,
				<NRF_PSEL(SPIM_MOSI, 0, 0)>,
				<NRF_PSEL(SPIM_MISO, 0, 1)>;
			low-power-enable;
		};
	};

};
